<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a "/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="MyExcelDriverConn" connectionString="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};DBQ=TestData\\data.xlsx;" providerName="System.Data.Odbc"/>
    <add name="MyExcelDsnConn" connectionString="Dsn=Excel Files;DBQ=TestData\\data.xlsx;" providerName="System.Data.Odbc"/>
    <add name="MyExcelOleDbConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=TestData\\data.xlsx; Extended Properties='Excel 12.0 Xml; HDR=YES'" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <!--
      To use ODBC or OLEDB (ACE) drivers in the data source for Excel files, install the Microsoft Access Database Engine 2010 Redistributable.
      This provides drivers for Excel if they are not already installed on the machine. Excel does not include ODBC/OLEDB drivers.
      Program Files (x86)\MSECache\AceRedist\1033\AceRedist.msi
      -->
      <add name="MyExcelDriverDataSource" connectionString="MyExcelDriverConn" dataTableName="Sheet1$" dataAccessMethod="Sequential"/>
      <add name="MyExcelDsnDataSource" connectionString="MyExcelDsnConn" dataTableName="Sheet1$" dataAccessMethod="Sequential"/>
      <add name="MyExcelOleDbDataSource" connectionString="MyExcelOleDbConn" dataTableName="Sheet1$" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
